name: Unit Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
				# last three LTS versions
        node-version: [20.x, 22.x, 24.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version: ${{ matrix.node-version }}
          cache-dependency-path: package-lock.json

      - name: Audit NPM Dependencies
        run: npm audit --audit-level=high

      - name: Install dependencies
        run: npm ci --no-audit --ignore-scripts

      - name: Build project
        run: npm run build

      - name: Run unit tests
        run: npm test
